@import '../variables.scss';

.root {
}

.container {
  margin: 0 auto;
  max-width: $max-content-width;
}

.center {
  display: table-cell;
  vertical-align: middle;
}

.logo {
  padding:70px 0 20px;
  display: block;
}
