@import '../variables.scss';

.root {
}

.container {
  margin: 0 auto;
  width: $max-content-width;
  text-align: center;
}

.center {
  margin: auto;
  text-align: center;
}

.logo {
  padding: 18% 0 4% 0;
  display: block;
  margin: auto;
}
