---
title: About
component: ContentPage
---
p.
  This is a question answering (QA) system created by the
  <a href="http://wdaqua.eu">WDAqua project</a>, a training
  network for PhD studends financed by the European Union. We are 15 PhD
  students working on topics around QA. The topics include data provision,
  data analysis, automatic query generation, speach recognition and answer
  presentation. We are distributed around 4 countries in Europe (France, Germany,
  Greece, United Kingdom) and come from different istitutions. If you are intrested in our
  work do not hesitate to contact us. We try to improve over time so "Keep asking!".
