---
title: FAQ
component: ContentPage
---
p
  h4 How does this Question Answering (QA) system work?
  p This QA system is a so called "knowledge (or ontology) based" QA system. A knowledge base is a collection of
    | facts that can be interpreted by a maschine. Such a fact can look like this:
    pre "Alan Turing" "student of" "Alonzo Church"
    | We have million of such facts and we use them to find an answer to your question. A big advantage over traditional
    | search engines is that different information can be combined so that we can answer questions like
    | 'Who was a student of Alonzo Church?'.

  h4 What data are you using?
  p In this version we are using as an underlying dataset <a href="http://dbpedia.org/">DBpedia</a>. This dataset contains
  | facts extracted from the infoboxes of wikipedia. Consider for example the wikipedia infobox of the
  | <a href="https://en.wikipedia.org/wiki/European_Union">European Union</a>. It contains for example the information that
  | the capital is Brussel. This information is converted in the triple
  pre "European Union" "capital" "Brussel"
  | allowing us to answer a question like 'What is the capital of the EU?'. All information about the European Union
  | contained in Dbpedia can be found <a href="http://dbpedia.org/page/European_Union">here</a>.

  h4 Why does the QA wrongly answer my question?
  p There are mainly to reasons for that. The first is that we simply do not have the data to answer it. We generally
    | try to find the best interpretation of your question based on the data we use. If we do not have the data also the
    | interpretation will be wrong. The second reason is that we have the data but we are not able to correctly interpret
    | your question. We are trying to imporve over time the quality of the QA system by adding new datasets and by refining
    | the algorithm that interpretes your question. So hopfully next time it works ; )

